@model ReporteTransaccionesDetalladas


@{
    ViewData["Title"] = "Detalle de cuenta";
}

<h1>Detalle de cuenta: @ViewBag.Cuenta</h1>

<partial name = "_ReporteTransaccionesDetalladas" model="Model" />